/**default**/
body,html{
    height:100%;
}
body{
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
.blue{
    color:#4fb7c7;
}

.red{
    color:#ff3333;
}
.blue-bg{
    background-color:#4fb7c7;
}
.red-bg{
    background-color:#ffa7a7;
}
.td-blue{
    background-color:#a6fff6;
}
.td-red{
    background-color:#ffa7a7;
}
.form-control{
    width:194px;
}
.rest-price div input{
    border: none;
}
/**header**/
header{
    height:98px;
    width:100%;
    background-color:#333333; 
    color:#fff;
    line-height: 98px;
    font-size:35px;
}
.h-icon{
    width:111px;
    height:33px;
    float:left;
    margin-left:25px;
    margin-top:32.5px;
    margin-right:20px;
    background-image: url(../img/hicon.png);
}
.def-color{
    color:#4fb7c7;
    border-color: #4fb7c7;
}
.def-link{
    color:#4fb7c7;
    border: 0px;
    height:14px;
    line-height: 14px;
}
.hand-nav{
    width:500px;
    height:98px;
    float: right;
}
.hand-nav p{
    height:49px;
    width:100%;
    margin:0px;
    margin-top:28px;
}
.hand-nav .user-bar button{
    background-color:transparent;
    padding:5px 15px;
    border:0px;
    font-size:18px;
    color:#4fb7c7;
    float:right;
    line-height: 18px;
    margin-top:9.5px;
}
.hand-nav .user-bar .user{
    color:#fff;
    margin-right:60px;
}
.hand-nav .user-bar .user-end{
    margin-right:25px;
}
.hand-nav .user-nav{
    color:#fff;
    float:right;
    height:49px;
    font-size:16px;
    margin-right:29px;
}
/** section-nav **/
#content-box{
    width:100%;
    height:100%;
    margin-top:-98px;
    padding-top:98px;
}
#content-box .section-nav{
    width:190px;
    min-height: 700px;
    height: 100%;
    background-color: #4a5254;
    color:#fff;
    display: inline-block;
    position: absolute;
    top:98px;
    left: 0px;
}
#content-box .section-nav .navbar-nav{
    width: 140px;
    margin:25px;
}
#content-box .section-nav .navbar-nav > li{
    float: none;
    text-align: left;
    width: 100%;
}
#content-box .section-nav .navbar-nav > li>a{
    padding-left:0px;
    font-size: 16px;
    padding-top:10px;
    padding-bottom: 10px;
}
#content-box .section-nav .navbar-nav>.divider{
    height: 1px;
    background-color: #fff;
}
#content-box .section-nav .navbar-nav > li > .dropdown-menu{
    margin-top: -40px;
    margin-left: 140px;
    font-size:16px;
}
#content-box .section-nav a{

}
#content-box .section-nav .dropdown-menu a{

}

#content-box .centent-hander-nav{
    display: inline-block;
    width:100%;
    height:35px;
    border-bottom: 1px dashed black;
    padding-left:205px;
    font-size:16px;
    line-height: 35px;
}
#content-box .centent-hander-nav a{
    color:#4fb7c7;
    cursor: pointer;
}
#content-box .centent-hander-nav .fa-angle-right:before{
  margin:0px;  
}
#content-box .centent-box{
    width:100%;
    padding-left:190px;
}
/** footer **/
.footer{
    width:1120px;
    height:45px;
    margin: auto;
    text-align: right;
    margin-top:15px;
}
.footer span{
    padding:4px 6px;
    margin-left:9px;
    font-size: 14px;
}
.footer .sel-now{
    background-color: #f0f0f0;
}
.footer .btn-link{
    color:black;
    cursor: pointer;
}
.footer button{
    background-color: #fff;
    padding:5px 10px;
    border:1px solid #dddddd;
    font-size:14px;
    line-height: 14px;
}