.table > tbody > tr > td{
    height: 54px;
    line-height: 54px;
}
.table > tbody > tr > td:first-child{
    text-align: right;
}
.table > tbody > tr > td .address{
    width: 400px;
}
#content-box .table > tbody > tr  .text-top{
    vertical-align: text-bottom;
    line-height: 20px;
}