.centent-box-hander .fa:before{
    margin-right:10px;
}
.centent-box-hander i{
    color: #4fb7c7;
    font-size: 18px;
}
.table,.table > tbody > tr > td{
    border:none;
    line-height: 40px;
    height: 40px;
    padding:0px;
    vertical-align: middle;
}
.table > tbody > tr > td .form-control{
    display: inline-block;
    width: 132px;
    vertical-align: middle;
    height: 22px;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.table > tbody > tr > td:first-child{
    width: 15%;
    text-align: left;
    padding-left: 85px;
    font-weight: bold;
}
.table > tbody > tr > td:nth-child(2){
    text-align: left;
}
.table > tbody > tr > td:last-child{
    width: 5%;
}
.table-add tbody > tr > td:first-child,.table-add tbody > tr > td:nth-child(2){
    background-color: #f2f2f2;
}
.table-add tbody > tr > td input{
    width: 50px;
    height: 22px;
    margin-left:5px;
}
.table-add>tbody > tr > td:nth-child(2) > span .form-control{
    width:50px;
    margin-left: 5px;
}
.table-add tbody > tr > td span{
    margin-right:15px;
}
.table-add tbody > tr > td i{
    font-size: 25px;
    color: #4fb7c7;
    cursor: pointer;
}
tbody > tr > td div{
    display: inline-block;
    font-size: 14px;
}
tbody > tr:last-child input{
    margin-right: -10px;
    width: 100px;
}
.table-add tbody > tr:last-child .form-control{
    margin-right: 15px;
}
.table-add tbody > tr:last-child .form-control:last-child{
    width: 100px !important;
    margin-right: -10px;
}
#content-box .content{
    margin-top:0px;
}
.add-on{
    padding-top:2px;
    margin-left: -10px;
    color: #4fb7c7;
}
.form-control[readonly]{
    background-color: #fff;
}
.control-group{
    margin-right: 100px;
}
#content-box .centent-box .centent-box-hander .btn-default{
    float: none;
}
.table > tbody > tr > td .form-control-small{
    width: 65px;
}
#content-box .table > tbody > tr > td .form-control-litle{
    width: 50px !important;
}
#content-box .table > tbody > tr > td .form-control-checkbox{
    text-align: left;
    width: 40px !important;
}
#content-box .table > tbody > tr > td label{
    font-weight: normal;
}